.pokemon-single-container {
  background-image: linear-gradient(to bottom, var(--blue) 10%, var(--indigo) 90%, var(--white));
  padding: 1em 4em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 10px;
  justify-items: center;
}

.blink {
  animation: blinking 1.8s linear infinite alternate;
}

@keyframes blinking {
 from{ filter: drop-shadow(0 0 0 var(--yellow)); }
  to{ filter: drop-shadow(0 0 1.2em var(--yellow)); }
}

@media only screen and (max-width: 380px) {
  .pokemon-single-container {
    padding: 1em 0em;
    border: 1px solid red;
  }
}