<nav class="navbar">
  <a mat-button routerLink="">Home</a>
  <a mat-button *ngIf="isLogged()" routerLink="/game">Game</a>

  <a mat-button *ngIf="isLogged() && userPlayer$ | async as player"
    matBadge="{{player.money}}"
    matBadgeColor="#FECE00"
    matBadgePosition="allow before"
    routerLink="/profile">
    <img src="{{player.avatar}}" alt="avatar" class="profile-avatar">
  </a>

  <a mat-button *ngIf="!isLogged()" (click)="dialogForm()">Login</a>
  <a mat-button *ngIf="isLogged()" (click)="logout()">Logout</a>
</nav>
