<div class="faq-cards">
  <div class='card-container one'>
    <div class='flippable-card'>
      <mat-card class='card'>
        <mat-card-header>
          <mat-icon>more_vert</mat-icon>
          <mat-card-title>Important text 1</mat-card-title>
          <mat-card-subtitle>some explanations</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-card class='open-card back'>
        <mat-card-title>ya</mat-card-title>
      </mat-card>
    </div>
  </div>
  <div class='card-container two'>
    <div class='flippable-card'>
      <mat-card class='card'>
        <mat-card-header>
          <mat-icon>more_vert</mat-icon>
          <mat-card-title>Important text 2</mat-card-title>
          <mat-card-subtitle>some explanations</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-card class='open-card back'>
        <mat-card-title>ya</mat-card-title>
      </mat-card>
    </div>
  </div>
  <div class='card-container three'>
    <div class='flippable-card'>
      <mat-card class='card'>
        <mat-card-header>
          <mat-icon>more_vert</mat-icon>
          <mat-card-title>Important text 3</mat-card-title>
          <mat-card-subtitle>some explanations</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-card class='open-card back'>
        <mat-card-title>ya</mat-card-title>
      </mat-card>
    </div>
  </div>
  <div class='card-container four'>
    <div class='flippable-card'>
      <mat-card class='card'>
        <mat-card-header>
          <mat-icon>more_vert</mat-icon>
          <mat-card-title>Important text 4</mat-card-title>
          <mat-card-subtitle>some explanations</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-card class='open-card back'>
        <mat-card-title>ya</mat-card-title>
      </mat-card>
    </div>
  </div>

  <img class="img-blbsaur" src="../../assets/pokemons/bulbasaur.png" />
</div>