@import "../../variables.scss";
@import "./mixins.scss";

mat-icon {
  display: none;
}

mat-card-subtitle {
  color: var(--white);
  line-height: 1.5em;
}

.faq-cards {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @include for-phone-only {
    width: 40em;
  }
  @include for-tablet-portrait-up {
    width: 50em;
    height: 70vh;
  }
  @include for-tablet-landscape-up {
    width: 50em;
    height: 90vh;
  }
  @include for-desktop-up {
    width: 50em;
    height: 90vh;
  }
  @include for-big-desktop-up {
    width: 55em;
    height: 90vh;
  }

  .card {
    @include cards(var(--yellow));
    color: var(--white);
    background-image: linear-gradient(145deg, var(--blue) 0%, var(--indigo) 100%);
  }

  .open-card {
    @include cards(var(--blue));
    background: var(--yellow);

    & mat-card-subtitle {
      color: var(--black);
      line-height: 1.5em;
    }
  }

  .img-blbsaur {
    position: absolute;
    z-index: -1;

    @include for-phone-only {
      height: 0;
      width: 0;
    }
    @include for-tablet-portrait-up {
      height: 0;
      width: 0;
    }
    @include for-tablet-landscape-up {
      height: 16em;
      width: 13em;
      top: 18em;
      left: -8em;
    }
    @include for-desktop-up {
      height: 21em;
      width: 17em;
      top: 10em;
      left: -12em;
    }
    @include for-big-desktop-up {
      height: 21em;
      width: 17em;
      top: 14em;
      left: -12em;
    }
  }
}

.card-container {
  position: relative;
  width: 20em;
  height: 16em;
  margin: 0 1.5em;
  cursor: pointer;

  &:hover .flippable-card {
    transform: rotateY(.5turn);
  }

  @include for-phone-only {
    width: 19em;
    height: 12em;
    margin: 1em 1.5em;
  }
  @include for-tablet-portrait-up {
    width: 17em;
    height: 12em;
    margin: 1em 1.5em;
  }
  @include for-tablet-landscape-up {
    width: 20em;
    height: 14em;
  }
  @include for-desktop-up {
    width: 20em;
    height: 16em;
  }
  @include for-big-desktop-up {
    width: 20em;
    height: 16em;
  }
}
.flippable-card {
  position: relative;
  transition: transform 1.5s;
  transform-style: preserve-3d;
}

.card,
.back {
  position: absolute;
  backface-visibility: hidden;
  transition-timing-function: ease-out;
  transform-style: preserve-3d;

  @include for-phone-only {
    width: 19em;
    height: 12em;
  }
  @include for-tablet-portrait-up {
    width: 17em;
    height: 12em;
  }
  @include for-tablet-landscape-up {
    width: 20em;
    height: 14em;
  }
  @include for-desktop-up {
    width: 20em;
    height: 16em;
  }
  @include for-big-desktop-up {
    width: 20em;
    height: 16em;
  }
}

.back {
  transform: rotateY(.5turn);
}
