<div class="faq-cards">
  <div class='card-container one'>
    <div class='flippable-card'>
      <mat-card class='card'>
        <mat-card-header>
          <mat-icon>more_vert</mat-icon>
          <mat-card-title><strong>Start Game</strong></mat-card-title>
          <mat-card-subtitle>Before you start playing the game you can try out our demo.
            Just click the button "Game" on the top right corner of this page to start.</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-card class='open-card back'>
        <mat-card-title><strong>Start Game</strong></mat-card-title>
        <mat-card-subtitle>To have an access to your profile and discover more features you need to register first
          by clicking on the button "Login" and then "Sign up!". Once you complete the registration you will have an
          additional button "Profile".
        </mat-card-subtitle>
      </mat-card>
    </div>
  </div>
  <div class='card-container two'>
    <div class='flippable-card'>
      <mat-card class='card'>
        <mat-card-header>
          <mat-icon>more_vert</mat-icon>
          <mat-card-title><strong>Battle</strong></mat-card-title>
          <mat-card-subtitle>You will have to choose between 2 options: hot seat fight or fight against bot.
            To start fight you need: <br>
            1) Choose your pokemon.<br>
            2) Choose pokemon for opponent.<br>
            3) Start the game by pressing button "Send pokemons".
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-card class='open-card back'>
        <mat-card-title><strong>Battle controls</strong></mat-card-title>
        <mat-card-subtitle>During the battle players one by one choose where to punch or super punch his opponent.
          Then the opponent choose defence place. If opponent have chosen the right place of defence the attack
          will cause no damage otherwise it will take some points from pokemon`s life.
        </mat-card-subtitle>
      </mat-card>
    </div>
  </div>
  <div class='card-container three'>
    <div class='flippable-card'>
      <mat-card class='card'>
        <mat-card-header>
          <mat-icon>more_vert</mat-icon>
          <mat-card-title><strong>Profile</strong></mat-card-title>
          <mat-card-subtitle>To have an access to profile you need to login first or register if you did not have an
            account yet.</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-card class='open-card back'>
        <mat-card-title><strong>Profile</strong></mat-card-title>
        <mat-card-subtitle>On the profile you can set your profile photo and see the statistic of passed battles.
          Also you can manage your pokemons here: see the abilities of pokemons which you already have and buy new.
        </mat-card-subtitle>
      </mat-card>
    </div>
  </div>
  <div class='card-container four'>
    <div class='flippable-card'>
      <mat-card class='card'>
        <mat-card-header>
          <mat-icon>more_vert</mat-icon>
          <mat-card-title><strong>Where to find pokemons?</strong></mat-card-title>
          <mat-card-subtitle>By default all players that have already registered have Chikorita pokemon.
            All player`s pokemons are displayed in player`s profile access to which have only logged people.
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-card class='open-card back'>
        <mat-card-title><strong>Where to find pokemons?</strong></mat-card-title>
        <mat-card-subtitle>New pokemons will be available each time you reach a new level or you can also buy them in
          the shop
          which you can find in player`s profile.
        </mat-card-subtitle>
      </mat-card>
    </div>
  </div>

  <img class="img-blbsaur" src="../../assets/pokemons/bulbasaur.png" />
</div>
