@mixin cards($col) {
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  cursor: pointer;

  mat-card-title {
    padding-bottom: 0.5em;
    font-size: 1em;
    border-bottom: 1px solid $col;
  }
}

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1300px) { @content; }
}
