$card-size: 40vh;
$font-size-large: $card-size * 0.06;
*, *:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 260px;
  user-select: none;
  position: relative;
  margin-top: 2em;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Cabin', sans-serif;
}
.card-block {
  position: absolute;
  padding: 1em;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(0,0,0, 0.8);
  border-radius: $card-size * 0.0316;
  .lock {
    display: block;
    font-size: calc(8em + 1.6vmin);
    color: #CED416;
  }
  .level, .price {
    min-width: 100%;
    color:#CED416;
    text-align: center;
    display: block;
  }
  .price {
    text-transform: capitalize;
    font-size: calc(1em + 1.4vmin);
  }
  .buy-btn {
    width: 50%;
    margin: 0 auto;
    padding: 0.5em;
    display: block;
    border: none;
    outline: none;
    font-weight: 800;
    border-radius: $card-size * 0.0315;
    background-color: #CED416;
    &:hover {
      cursor: pointer;
      box-shadow:0px 0px 6px 4px#8a8e11;
    }
  }
}
.card-open {
  display: none
}
.card {
  border-radius: $card-size * 0.0316;
}
.card__body {
  border-radius: $card-size * 0.0316;
  background-size: cover;
}
.card__head {
  padding: 3% 4%;
}
.main-info {
  margin-top: 6px;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: $card-size * 0.1055;
  margin-bottom: $card-size * 0.04;
  .energy {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
.name,
.hp {
  color: #fff;
  position: absolute;
  bottom: 0;
  line-height: 1;
}
.name {
  text-transform: capitalize;
  font-size: calc(1em + 0.8vmin);
  font-weight: 700;
}
.hp {
  right: 10%;
  bottom: 3%;
  margin-left: auto;
  margin-right: $card-size * 0.02;
  letter-spacing: -0.05em;
  font-weight: 600;
  font-size: calc(1em + 0.8vmin);
  transform: scale(0.92, 1);
  transform-origin: right;
}
.frame {
  width: 100%;
  padding: 10%;
  height: 160px;
  margin-bottom: $card-size * 0.0105;
  img {
    transform: scale(1.2);
    display: block;
    margin-left: auto;
    margin-right: auto;
    &:hover {
      cursor: pointer;
    }
  }
}
.stats {
  text-align: center;
  text-transform: capitalize;
  > span {
    color: #fff;
    font-size: calc(1.2em + 0.8vmin);
    font-weight: 600;
    font-style: italic;
  }
}
.energy {
  position: relative;
  display: inline-block;
  border-radius: 100px;
  width: $card-size * 0.08;
  height: $card-size * 0.08;
  background: radial-gradient(#fdaeba 40%, #f84c20, #c8340e 100%);
  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 14%;
    left: 2%;
    width: 50%;
    height: 25%;
    border-radius: 50%;
    transform: rotate(-45deg);
    background: linear-gradient(rgba(white, 0.8) 50%, transparent);
  }
  &.inline {
    margin-right: $card-size * 0.015;
    width: $card-size * 0.04;
    height: $card-size * 0.04;
  }
}
.attacks {
  list-style: none;
  padding: 0;
}
.attack {
  padding-top: $card-size*0.015;
  li {
    color: #fff;
    vertical-align: middle;
    margin: $card-size*0.0060;
    font-size: calc(0.8em + 0.8vmin);
    list-style: none;
    text-transform: capitalize;
  }
  &.pkmn-power {
    strong {
      font-weight: 600;
      font-size: calc(0.6em + 0.8vmin);
      color: #fff;
    }
  }
  strong {
    display: inline-block;
    transform-origin: left;
    font-size: $font-size-large*0.55;
  }
  p {
    margin-bottom: $card-size*0.02;
  }
}
.type-info {
  margin-top: -0.2%;
  height: $card-size*0.08;
  display: flex;
  justify-content: space-between;
  text-align: center;
  list-style: none;
  span {
    display: block;
    font-size: $card-size * 0.029;
    font-weight: 600;
    letter-spacing: 0.022em;
  }
}

@media (min-width: 2800px) {
  .stats {
    span {
      font-size: calc(0.8em + 0.8vmin);
    }
  }
  .attack {
    li {
      font-size: calc(0.6em + 0.5vmin);
    }
    &.pkmn-power {
      strong {
        font-size: calc(0.2em + 0.2vmin);
      }
    }
  }
  .energy {
    width: $card-size * 0.03;
    height: $card-size * 0.03;
  }
  .energy.inline {
    width: $card-size * 0.02;
    height: $card-size * 0.02;
  }
  .hp {
    font-size: calc(0.5em + 0.5vmin);
  }
  .name {
    font-size: calc(0.6em + 0.6vmin);
  }
}

@media (min-width: 2050px) and (max-width: 2799px) {
  .attack {
    li {
      font-size: calc(0.6em + 0.8vmin);
    }
    &.pkmn-power {
      strong {
        font-size: calc(0.6em + 0.3vmin);
      }
    }
  }
  .energy {
    width: $card-size * 0.05;
    height: $card-size * 0.05;
  }
  .hp {
    font-size: calc(0.6em + 0.6vmin);
  }
  .name {
    font-size: calc(0.8em + 0.7vmin);
  }
}

@media only screen and (min-width: 1800px) and (max-width: 2049px) {
  .attack {
    li {
      font-size: calc(0.6em + 0.8vmin);
    }
    &.pkmn-power {
      strong {
        font-size: calc(0.8em + 0.3vmin);
      }
    }
  }
  .energy {
    width: $card-size * 0.06;
    height: $card-size * 0.06;
  }
  .hp {
    font-size: calc(0.78em + 0.78vmin);
  }
  .name {
    font-size: calc(0.85em + 0.85vmin);
  }
}