<div class="battle-info">
    <div class="battle-info-left">
        <progress #firstLine value="{{healthA}}" max="100"></progress>
        <span *ngIf="pokemonA.health>0">{{healthA}}</span>
        <mat-card [@popupDamage]=attackPopupA>{{attack}}: {{attackStrength}}</mat-card>
        <mat-card [@popupDefence]=defencePopupB>{{attack}}</mat-card>
    </div>
    <div class="battle-info-right">
        <span *ngIf="pokemonB.health>0">{{healthB}}</span>
        <progress #secondLine value="{{healthB}}" max="100"></progress>
        <mat-card [@popupDamage]=attackPopupB>{{attack}}: {{attackStrength}}</mat-card>
        <mat-card [@popupDefence]=defencePopupA>{{attack}}</mat-card>
    </div>
</div>