.battle-field {
    margin: 0 auto;
    background: url('../../assets/battle-fields/Pokémon_Stadium_2.png') border-box;
    background-size: cover;
    width: 80vw;
    height: 90vh;
    h1 {
        color: snow;
        text-align: center;
    }
}
.battle-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 60vh;

}
.hide-buttons {
    display: none
}
.attack-wrapper {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../assets/svg-images/swords.svg')no-repeat;
}
.voodoo-div {
    background: url('../../assets/svg-images/halloween.svg') no-repeat;
    width: 100px;
    cursor: pointer;
    .top-voodoo {
        height: 40px;
        &:hover {
            background: rgba(240, 14, 14, 0.5);
        }
    }
    .middle-voodoo {
        height: 35px;
        &:hover {
            background: rgba(240, 14, 14, 0.5);
        }
    }
    .bottom-voodoo {
        height: 25px;
        &:hover {
            background: rgba(240, 14, 14, 0.5);
        }
    }
}

.defence-wrapper {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../assets/svg-images/shield-svgrepo-com.svg')no-repeat;
    .defence-button {
        background: url('../../assets/svg-images/halloween.svg') no-repeat;
        width: 100px;
        height: 150px;
        cursor: pointer;
        border: 0;
    }
}
