<div *ngIf="showSelectTypeOfGame" class="battle-type">
    <h1>Please, select a game type: </h1>
    <div class="battle-type-buttons">
        <button mat-raised-button class="fight-btn" (click)="withComputer()">Play with computer</button>
        <button mat-raised-button class="fight-btn" (click)="withPerson()">Play with person</button>
    </div>
</div>
<app-pokemon-chooser *ngIf="!isVisibleFight&&!showSelectTypeOfGame"></app-pokemon-chooser>
<div *ngIf="isVisibleFight" class="battleImg" [style.background]="bg">
    <div class="battle-field">
        <app-battle-info [health]="health" [pokemonA]="pokemonA" [pokemonB]="pokemonB"></app-battle-info>
        <h1>{{title}}</h1>

        <div class="players">
            <img #imgPokemonA class="pokemonA" [@defenseAnimation]=defenseA [@attackAnimation]=attackPopupA />
            <img #imgPokemonB class="pokemonB" [@defenseAnimation]=defenseB [@attackAnimation]=attackPopupB />
        </div>
        <div [@attackAnimationA]=currentStateA class="playerAttackA">
            <span [className]='aAttack'></span>
        </div>
        <div [@attackAnimationB]=currentStateB class="playerAttackB">
            <span [className]='bAttack'></span>
        </div>

        <h1 *ngIf="!this.battleService.isAlive(this.pokemonA) || !this.battleService.isAlive(this.pokemonB)">Game Over</h1>
        <div class="battle-btns" *ngIf="this.battleService.isAlive(this.pokemonA) && this.battleService.isAlive(this.pokemonB)">
            <div class="left-corner">
                <div *ngIf="isButtons">
                    <div *ngIf="!isDefence" class="defence-wrapper">
                        <div (click)="defencePlace('current')" class="voodoo-div">
                            <div class="top-voodoo" data-area="topVoodoo"></div>
                            <div class="middle-voodoo" data-area="middleVoodoo"></div>
                            <div class="bottom-voodoo" data-area="bottomVoodoo"></div>
                        </div>
                    </div>
                    <div *ngIf="isVoodoo" class="attack-wrapper">
                        <div (click)="punchPlace('current')" class="voodoo-div">
                            <div class="top-voodoo" data-area="topVoodoo"></div>
                            <div class="middle-voodoo" data-area="middleVoodoo"></div>
                            <div class="bottom-voodoo" data-area="bottomVoodoo"></div>
                        </div>
                    </div>
                    <div *ngIf="!isPunchSection">
                        <button mat-raised-button matTooltip="DAMAGE" aria-label="spec attack tooltip" (click)="currentBasePunch()">punch</button>
                        <button mat-raised-button matTooltip="{{attackTooltipA | uppercase}}" aria-label="spec attack tooltip"
                            class="spec" (click)="currentSpecAttack()" *ngIf="this.battleService.isSpecAttack(this.pokemonA)">
                            {{superPunchA}}</button>
                    </div>
                </div>
            </div>
            <div class="right-corner">
                <div *ngIf="!isButtons">
                    <div *ngIf="isDefence" class="defence-wrapper">
                        <div (click)="defencePlace('opponent')" class="voodoo-div">
                            <div class="top-voodoo" data-area="topVoodoo"></div>
                            <div class="middle-voodoo" data-area="middleVoodoo"></div>
                            <div class="bottom-voodoo" data-area="bottomVoodoo"></div>
                        </div>
                    </div>
                    <div *ngIf="isVoodoo" class="attack-wrapper">
                        <div (click)="punchPlace('opponent')" class="voodoo-div">
                            <div class="top-voodoo" data-area="topVoodoo"></div>
                            <div class="middle-voodoo" data-area="middleVoodoo"></div>
                            <div class="bottom-voodoo" data-area="bottomVoodoo"></div>
                        </div>
                    </div>
                    <div *ngIf="isPunchSection">
                        <button mat-raised-button matTooltip="DAMAGE" aria-label="spec attack tooltip" (click)="opponentBasePunch()">punch</button>
                        <button mat-raised-button matTooltip="{{attackTooltipB | uppercase}}" aria-label="spec attack tooltip"
                            class="spec" (click)="opponentSpecAttack()" *ngIf="this.battleService.isSpecAttack(this.pokemonB)">{{superPunchB}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>