<app-pokemon-chooser *ngIf="!isVisibleFight"></app-pokemon-chooser>
<div *ngIf="isVisibleFight" class="battle-field">
    <app-battle-info [health]="health" [pokemonA]="pokemonA" [pokemonB]="pokemonB"></app-battle-info>
    <h1>{{title}}</h1>
    
    <div class="players">
        <img #imgPokemonA class="pokemonA" />
        <img #imgPokemonB class="pokemonB" />
    </div>

    <div class="battle-btns" *ngIf="this.battleService.isAlive(this.pokemonA) && this.battleService.isAlive(this.pokemonB)">
        <div class="left-corner">
            <button #baseButtonCurrent (click)="currentBasePunch()">punch</button>
            <button #specButtonCurrent (click)="currentSpecAttack()">super punch</button>
            <button #defenceButtonCurrent class="hide-buttons" (click)="currentDefence()">Defence</button>
        </div>
        <div class="right-corner">
            <button #baseButtonOpponent class="hide-buttons" (click)="opponentBasePunch()">punch</button>
            <button #specButtonOpponent class="hide-buttons" (click)="opponentSpecAttack()">super punch</button>
            <button #defenceButtonOpponent class="hide-buttons" (click)="opponentDefence()">Defence</button>
        </div>
    </div>
</div>