.psychic {
  width: 3em;
  height: 3em;
  background: rgb(252, 130, 130);
  border-radius: 2em;
  filter: blur(0.5em);
  transform: rotate(115deg);
  animation: 0.5s psych infinite;
  position: absolute;

  @keyframes psych {
    0% {
      background: rgb(252, 130, 130);
    }
    50% {
      background: rgb(232, 130, 252);
    }
    100% {
      background: rgb(205, 255, 238);
    }
  }
}
