<div *ngIf="isVisible">
  <mat-horizontal-stepper #stepper linear labelPosition="bottom">
    <ng-template matStepperIcon="edit">
      <mat-icon>check</mat-icon>
    </ng-template>

    <mat-step label="Choose Pokemon" #stepOne completed="false">
      <div class="pokemon-list">
        <app-pokemon-card
          *ngFor="let pokemon of userPokemons$ | async" [pokemon]="pokemon"
          (changedPokemon)="choosePokemon($event, stepOne, stepper)">
        </app-pokemon-card>
      </div>
    </mat-step>

    <mat-step label="Choose Opponent" #stepTwo completed="false">
      <div class="pokemon-list">
        <app-pokemon-card
          *ngFor="let pokemon of pokemonsList$ | async" [pokemon]="pokemon"
          (changedPokemon)="choosePokemon($event, stepTwo, stepper)">
        </app-pokemon-card>
      </div>
    </mat-step>

    <mat-step label="Go to fight" #stepThree completed="false">
      <div class="pokemon-list">
        <app-pokemon-card *ngFor="let pokemon of selectedPokemon" [pokemon]="pokemon"></app-pokemon-card>
      </div>
      <button (click)="sendPokemons()">SEND POKEMONS</button>
    </mat-step>
  </mat-horizontal-stepper>
</div>