mat-horizontal-stepper {
  padding: 3em;
}
.pokemons:hover {
  cursor: pointer;
}
.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  justify-items: center;
  margin-top: 1em;
}
.choosed-pokemons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 1em;
  .choosed-pokemons-cards {
    width:15%;
  }
}
.fight-btn {
  display: block;
  width: 20%;
  margin: 0 auto;
  padding: 0.6em;
  border-radius: 1em;
  border: none;
  background-color: var(--indigo);
  color: var(--white);
  font-size: 1.2em;
  &:hover {
    cursor: pointer;
    background-color: #360859;
    box-shadow: 0 0 8px 6px var(--yellow);
  }
}
