*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-track-color: #000;
}

body::-webkit-scrollbar {
  width: 0.7em;
}

body::-webkit-scrollbar-thumb {
  background: #fece00;
  border-radius: 1em;
  border: 0.1em solid #ffffff;
}

body::-webkit-scrollbar-track {
  background:rgba(255, 255, 255, 0.7);
}

body::-webkit-scrollbar-thumb:hover {
  background: lighten(#fece00, 10%);
}
