@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  scrollbar-track-color: #000;
}

body::-webkit-scrollbar {
  width: 0.7em;
  background: inherit;
}

body::-webkit-scrollbar-thumb {
  background: #fece00;
  border-radius: 1em;
}

body::-webkit-scrollbar-track {
  background: inherit;
}

body::-webkit-scrollbar-thumb:hover {
  background: lighten(#fece00, 10%);
}

mat-dialog-container.mat-dialog-container {
  padding: 0;
  overflow: hidden;
}
mat-dialog-container.mat-toolbar-single-row {
  margin-bottom: 0.5em;
}

// .cdk-overlay-container,
// .cdk-global-overlay-wrapper,
// .cdk-global-overlay-wrapper {

//   &::-webkit-scrollbar-track,
//   &::-webkit-scrollbar {
//     background-color: inherit;
//   }
// }