/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./app/variables.scss";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-thumb {
  background: #FECE00;
  border-radius: 1em;
  border: 0.1em solid #FFFFFF;
}