@import '../variables.scss';

@mixin cards($col) {
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    cursor: pointer;

    h3 {
        width: 60%;
        padding-bottom: 0.5em;
        border-bottom: 1px solid $col;
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5em;
    //background: #fff7cb;
}

.main-background {
    position: relative;
    align-items: flex-end;
    height: 30em;
    width: 50em;
    margin-bottom: 3em;
    background-image: linear-gradient(145deg, lighten(#0E1E30, 5%) 0%, var(--indigo) 100%);
    border-radius: 2em;

    .img-pikachu {
        position: absolute;
        height: 27em;
        width: 30em;
        bottom: 6em;
        right: 25em;
    }

    .img-pokeball {
        position: absolute;
        height: 8em;
        width: 8em;
        left: 30em;
        bottom: 23em;
    }

    .btn-go {
        position: absolute;
        display: flex;
        align-items: center;
        width: 20em;
        left: 30em;
        bottom: 2em;
        background: none;
        border: none;
        cursor: pointer;

        .img-go {
            position: relative;
            height: 20em;
            width: 20em;
        }
    }

  }

  .faq {
    width: 50em;
    border-top: 2px solid var(--blue);

      .faq_header {
        padding: 0.5em 4em;
        margin-left: 20em;
        height: 2em;
        border-radius: 1em;
        color: var(--white);
        background: var(--blue);
      }

}

.faq-cards {
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 2em;

    .faq-card-in-row {
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        .open-card {
            @include cards(var(--blue));
            height: 15em;
            width: 28em;
            background: var(--yellow);
        }

        .card {
            @include cards(var(--yellow));
            height: 10em;
            width: 15em;
            color: var(--white);
            background-image: linear-gradient(145deg, var(--blue) 0%, var(--indigo) 100%);
        }
    }

    .img-blbsaur {
        position: absolute;
        height: 25em;
        width: 20em;
        top: 10em;
        left: -5em;
    }
}

.footer {
    height: 5em;
    background: var(--yellow);
}