@import "../variables.scss";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.main-page-desc {
  position: absolute;
  width: 30em;
  top: 4em;
  left: 40em;

  p {
    margin: 0;
    padding: 0;
    color: white;
  }

  h2 {
    margin: 0;
    padding: 0;
    color: white;
  }
}

.main-background {
  position: relative;
  align-items: flex-end;
  height: 90vh;
  width: 100vw;
  margin-bottom: 3em;
  background-image: linear-gradient(to bottom, var(--blue) 10%, var(--indigo) 90%);

  &::after {
    content: "";
    display: block;
    position: relative;
    margin-top: 90vh;
    height: 5em;
    background-image: linear-gradient(to bottom, var(--indigo), var(--white));
    z-index: -1;
  }

  .img-pikachu {
    position: absolute;
    height: 27em;
    width: 30em;
    bottom: 3em;
    right: 40em;
  }

  .img-pokeball {
    position: absolute;
    height: 6em;
    width: 6em;
    left: 45em;
    bottom: 23em;
  }

  .wrapper-btn {
    position: absolute;
    display: flex;
    align-items: center;
    left: 40em;
    bottom: 2em;
  }

  .btn-go {
    background: var(--indigo);
    cursor: pointer;
  }
}

.faq {
  display: flex;
  justify-content: space-between;
  width: 50em;
  margin-top: 1em;

  .faq_header {
    margin: 1em 1em 0 1em;
    padding: 0;
    text-align: center;
    color: var(--blue);
    background: var(--white);
  }

  span {
    margin-top: 3.3em;
    width: 20em;
    height: 2px;
    background: var(--blue);
  }
}

.footer {
  height: 5em;
  padding: 1em;
  background: var(--yellow);

  p {
    padding: 0.5em 0 0 15em;
    margin: 0;
    font-size: 0.7em;
  }
}
