<div class="avatar-wrap" *ngIf="userPlayer$ | async as player">
  <label for="file-input">
    <img src="{{player.avatar}}" alt="avatar" class="profile-avatar">
  </label>

  <input id="file-input" type="file" (change)="detectFiles($event)">
</div>

<div *ngIf="currentUpload">
  <div class="progress">
    <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
  </div>
  Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
</div>
<!-- 
<label>
  <input type="file" (change)="detectFiles($event)">
</label> -->

<button
  [disabled]="!selectedFiles"
  (click)="uploadSingle()">

  Upload
</button>
